@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f1f1f1;
}

// Footer
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    position: relative;
    width: 100%;
    min-height: 200px;
    background-color: orange;


    .follow {
        grid-column: 2;
        margin: 40px 40px;


        h4 {
            text-align: center;
            font-size: 1.5em;
            padding-bottom: 10px;
        }

        .socicon {
            padding-left: .5em;
            height: 60px;
        }
    }

    .contact {
        font-size: 2em;
        margin: 60px 60px;
        text-align: center;
    }
}


// contact page
.form {
    // display: block;
    text-align: center;
    max-width: 75%;
    margin-left: 15%;
}


#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;

}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}






// main page
main {
    padding: 20px;
    padding-bottom: 200px;
    height: 100%;


    .aboutus {
        font: 1.5em adamina;

        p {
            text-align: center;
            margin: 0 20%;
        }

        .CoupleImage {
            float: right;
            max-width: 15em;
            padding: 50px;
        }

        .KimandDog {
            float: left;
            max-width: 15em;
            padding: 30px;
        }

        .RvImage {
            float: left;
            max-width: 15em;
            padding: 30px;
        }

        .CarImage {
            float: right;
            max-width: 15em;
            padding: 50px;
        }
    }

    h3 {
        text-align: center;
        padding: 15px;


    }

    .blogInfo {

        ul {
            width: 100px;
            border: 10px black;
            padding: 20px;
            margin: 20px;
        }

        img {
            max-width: 100px;
        }
    }

    .videos {
        display: flex;
        flex-direction: row;
        // text-align: center;
        justify-content: center;

        .post {
            :nth-child(2) {
                padding-left: 10em;
            }

            :nth-child(1) {
                padding-right: 10em;
            }
        }


    }
}

body {
    margin: 0;
}

.blogPage {

    display: block;


    h1 {
        text-align: center;
        font-size: 4em;
    }

    ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // width: 100%;
        height: 100%;
        padding-left: 0;
        min-width: 0;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // column-gap: 50%;
        // margin-left: 12%;
        row-gap: 300px;
        

        list-style-type: none;
        text-align: center;
        // font-size: 2em;

        li {
            list-style: none;
            display: inline-block;
            width: calc(100% / 3);
            height: 120px;
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;

            :nth-child(even) {
                background-color: yellow;
            }

            a {
                width: 200px;
                align-items: center;
            }
        }
    }




    a {
        text-decoration: none;


    }

    img {
        max-width: 300px;
    }
}



@media (max-width:798px) {

    // Header
    .container {
        button {
            all: unset;
        }

        .banner_small {
            display: block;
            max-width: 100%;
        }

        .banner_medium {
            display: none;
        }

        .banner_large {
            display: none;
        }

        #menu {
            z-index: 2;
        }

        #menu-bar {
            width: 45px;
            height: 40px;
            margin: 30px 20px 20px 0;
            cursor: pointer;
        }

        .bar {
            height: 5px;
            width: 100%;
            background-color: orange;
            display: block;
            border-radius: 5px;
            transition: 0.3s ease;
        }

        #bar1 {
            transform: translateY(-4px);
        }

        #bar3 {
            transform: translateY(4px);
        }

        .nav {
            transition: 0.3s ease;
            display: none;


            ul {
                padding: 0 22px;
            }

            li {
                list-style: none;
                padding: 12px 0;


                a {
                    color: white;
                    font-size: 20px;
                    text-decoration: none;
                }

                a:hover {
                    font-weight: bold;
                }
            }
        }

        .menu-bg,
        #menu {
            top: 0;
            right: 0;
            position: absolute;
        }

        .menu-bg {
            z-index: 1;
            width: 0;
            height: 0;
            margin: 50px 20px 20px 0;
            background: radial-gradient(circle, orange, orange);
            border-radius: 50%;
            transition: 0.3s ease;
        }

        .change {
            display: block;


            .bar {
                background-color: white;
            }

            #bar1 {
                transform: translateY(4px) translateX(80px) rotateZ(-45deg);
            }

            #bar2 {
                opacity: 0;
            }

            #bar3 {
                transform: translateY(-6px) translateX(80px) rotateZ(45deg);
            }
        }

        .change-bg {
            width: 520px;
            height: 520px;
            transform: translate(60%, -20%);
        }

    }

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}



@media (min-width:800px) {
    #menu-bar {
        display: none;
    }

    .nav {
        display: block;
    }

    .banner_small {
        display: none;
    }

    .banner_medium {
        display: block;
        max-width: 100%;
    }

    .banner_large {
        display: none;
    }

    .nav {


        ul {
            position: relative;
            display: flex;
            max-width: 100%;
            justify-content: center;
            padding: 0px 0px 0px 0px;
            list-style: none;
            line-height: normal;
            text-align: center;
            z-index: 3;

            li {


                a {
                    float: left;
                    color: white;
                    background-color: rgba(0, 0, 0, .3);
                    letter-spacing: 1px;
                    margin-top: -3em;
                    padding: 10px 40px 0px 10px;
                    text-decoration: none;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 18px;
                    border: none;
                }

                .active {
                    background-color: aqua;
                }

            }
        }
    }

}


@media (min-width:1440px) {

    .container {

        .banner_small,
        .banner_medium {
            display: none;
        }

        .banner_large {
            display: block;
            max-width: 100%;
            padding: 0;
        }


        li {


            a {
                background-color: rgba(0, 0, 0, .1);
                border: none;
            }


        }



    }


}