---
import '../styles/styles.scss';


import Header from '../layouts/header.astro';
import Footer from '../layouts/footer.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MyComponent from '../components/MyComponent.astro';
---


<style lang="styl"></style>
<Header title="Welcome to Astro."></Header>
	<main>
		
		
	</main>


<Footer></Footer>


