---
import "../styles/styles.scss";
import Header from "../layouts/header.astro";
import Footer from "../layouts/footer.astro";
import { useSanityClient } from "astro-sanity";
const posts = await useSanityClient().fetch(`*[_type == "post"]{
	title,
	slug,
	mainImage{
		asset->{
			_id,
			url
		}
	}
}`);
---

<style lang="styl"></style>

<Header title="Blog Posts" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>My blog</title>

<body class = "blogbody">
	<main class="blogPage">
		<div class="bgimg">
			<h1>COMING SOON</h1>
		</div>

		

		<!-- <section class="blogPage">

			<h1>Our Travels</h1>
			{
				posts && (
						{posts.map((post) => (
							<li>
								<div>
									<a href={`../post/${post.slug?.current}`}>
										{post.title}
										<img src={post.mainImage.asset.url }alt="">{}
									</a>
								</div>
							</li>
						))}
					</ol>
				)
			}
		</section> -->
	</main>
</body>
<Footer />
