---
import '../styles/styles.scss';


import Header from '../layouts/header.astro';
import Footer from '../layouts/footer.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MyComponent from '../components/MyComponent.astro';
---


<style lang="styl"></style>
<Header title="Welcome to Astro."></Header>
<body class = "blogbody">
	<main class="blogPage">
		<div class="bgimg">
			<h1>COMING SOON</h1>
		</div>
	</main>
</body>

<Footer></Footer>





