---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1); //remove the first "/"
---

<footer>
    <div class="follow">
        <h4>Follow Us</h4>
        <a href="https://www.instagram.com/tikiraiders/"><img src="/assest/instagram.png" alt="https://www.flaticon.com/free-icons/instagram"  class="socicon"></a>

        <!-- <a href="https://www.facebook.com" ><img src="/assest/facebook.png" alt="https://www.flaticon.com/free-icons/facebook" class="socicon"></a> -->

        <a href="https://www.tiktok.com/@tikiraiders"><img src="/assest/tik-tok.png" alt="https://www.flaticon.com/free-icons/tiktok" class="socicon"></a>
    </div>
    <!-- <div class="subscribe">
        <h4>Subscribe</h4>
        <p>Subscribe Here</p>
        <input type="text">
    </div> -->
    <div class="contact">
        <a href="/contact/"><h4>Contact us!</h4></a>

    </div>
</footer>